/*h1
{
    font-family: "ariel";
    text-align: center;
}*/

p
{
    /*font-family: monospace;*/
    font-family: 'CodeNewRomanRegular'; 
    font-weight: normal; 
    font-style: normal;
}

body
{
    font-size: 20px;
}

/*
1em = 16px
2em = 32px
*/

#second
{
    font-size: 1.0em;
}

p
{
    font-style: italic;
    font-weight: bold;
}

#top 
{
    border: 4px solid blue;
    width: 25%;
    text-align: center;
    /*margin: 10px, 20px, 100px, 20px; /*top, right, bottom, left*/ 
    margin: auto;
}

#bottom
{
    border: 4px solid red;
    width: 50%;
    padding: 200px;
    text-align: center;
}